.about-me-text {
width: 50%;
margin-top: 5rem;
margin-left: 5rem;
color: white;
font-family: 'Inter', sans-serif;
font-weight: 100;
font-size: 1.8rem;  
}

.paragraph2, .paragraph3, .paragraph4 {
    margin-top: 2rem;
}
