* {
    width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Left {
    display: flex;
    width: 50%;
    height: auto;
    color: white;
    float: left;
}

.Right {
    display: flex;
    width: 50%;
    height: auto;
    color: white;
    float: right;
    justify-content: center;
    align-items: center;

}

.img {
    width: 80%;
    height: 80%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
