div{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Left{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    float: left;
}

.Right{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
}

.home-image {
    width: 90%; 
    height: 90%; 
    border-radius: 50%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.home-top-text {
    margin-top: 2rem;
    margin-left: 5rem;
    font-weight: bold;
    color: #ffffff;
}

.home-title{
    font-size: 9rem;
    margin-bottom: 3rem;
}

.home-subtitle{
    font-family: Inter, sans-serif;
    font-weight: 100;
    font-size: 3rem;
}

.home-bottom-text{
    margin-left: 5rem;
    font-size: 3rem;
    margin-top: 8rem;
    font-family: Inter, sans-serif;
    color: #fff;
}

.call-to-action-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5vw;
    margin-left: 5%;
    margin-top: 9vh;
    flex-wrap: nowrap;
}

.call-to-action {
    padding: 1.5rem 3vw;
    font-size: calc(0.8rem + 0.8vw);
    background: linear-gradient(135deg, #0b1020 0%, #1a1f2f 100%);
    border-radius: 50px;
    color: white;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
}

.call-to-action:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}
