.whole {
  display: flex;
  min-height: 70vh;
  align-items: stretch;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  flex-wrap: nowrap;
  overflow-x: auto;
  color: white;
}
.leftie {
  flex: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: top;

}
.rightie {
  flex:50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  align-self: stretch;;
}

.rightie img {
  max-width: 100%;
  width: auto;
  height: auto;
  border-radius: 8px;
  display: block;
  margin: auto;
}

.leftie h2 {
  font-size: 5rem;
  line-height: 1.05;
  margin-bottom: 3rem;
}

.leftie p {
  font-size: 3rem;
  margin: 0;
  line-height: 1.3;
}

.leftie h1 {
  display: flex ;
  width: 100%;
  height: 10%;
  text-align: center;
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 4rem;
  margin-top: 3rem;
  margin-bottom: 5rem;
  margin-left: 5rem;
}