@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Inria+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');


#root {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(122deg, #FF3636 50%, #000000 100%);
  overflow-x: hidden;
}
