* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  width: 100%;
}

.app-container {
  min-height: 100vh;
  background: linear-gradient(122deg, #A601FF 50%, #000000 100%);
}
